<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
        <li><a href="{{ path('series_list') }}" title="Hall series">List</a></li>

        {% if app.user %}

            <li><a href="{{ path('series_create') }}" title="create series">Create</a></li>
            <li><a href="{{ path('app_logout') }}" title="logout">logout ({{ app.user.firstname }})</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_dashboard') }}" title="admin_dashboard">admin</a></li>
                {% endif %}

        {% else %}

            <li><a href="{{ path('app_login') }}" title="login">login</a></li>
            <li><a href="{{ path('app_register') }}" title="register">register</a></li>

        {% endif %}
    </ul>
</nav>